<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.erremeservice"
    version   = "1.2.0">

<name>Erremmeservice Mobile</name>

<description>
Servizio taxi privato saluzzo e dintorni
</description>

<author href="https://www.gdrdesign.net" email="gaetanoderoberto@gmail.com">
Gaetano De Roberto 
</author>
<icon src="icon.png" />
</widget>
